/* Navbar Section  */

.navbarNew {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1px;
  padding: 15px;
}

.responsive_nav {
  transform: none;
}

.navbarNew a {
  font-weight: 800;
}
.hamburger-menu {
  display: none;
}
.links {
  color: rgba(0, 0, 0, 0.547);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #eee;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn-ham {
    visibility: hidden;
    opacity: 1;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header .linkWrapper {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    background-color: #29335c;
    transition: 1s;
  }
  header .responsive_nav {
    /* transform: none; */
    transform: translateY(100vh);
  }
  /* .linkWrapper .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 0.6rem;
  } */

  .links {
    color: white;
  }
}

@media (max-width: 767px) {
  .logoWrapper a {
    padding-left: 15px;
  }

  .logoWrapper > img {
    width: 100%;
  }
}

/* OM PART */

/* About section css */
.About {
  font-size: 20px;
  margin-top: 40px;
  color: black;
  font-family: Playfair Display, serif;
  text-align: justify;
}
.om {
  width: 96%;
  height: 400px;
  margin: auto;
  margin-top: 100px;
}
.om1 {
  width: 100%;
  height: 130%;
}
.om2 {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 30px;
  margin-top: 80px;
}
.om2 > p {
  font-size: 15px;
  color: gray;
}

/* Sign Up */

#signup ::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}
#log-Sec ::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}
#selectRole ::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}

/* # Second Top */
.secondTopContainer {
  margin-bottom: 30px;
}
.bigTile {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 30px;
}
.buttonInTile {
  border: 1px solid rgba(0, 0, 0, 0.107);
  padding: 10px 20px;
  color: rgba(0, 0, 0, 5.47);
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .bigTile {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .buttonInTile {
    margin-top: 20px;
  }
}

/* # Second Top */

/* # Publications */

.publicationContainer {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .publicationContainer {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    justify-content: space-around;
    text-align: center;
    row-gap: 30px;
  }
}

/* # Publications */

/* # New and Events */

.newContainer {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: space-around;
  text-align: center;
  gap: 50px;
}

@media only screen and (max-width: 768px) {
  .newContainer {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    justify-content: space-around;
    text-align: center;
    gap: 50px;
  }
}

/* # New and Events */

/* # Social Media */

.last {
  display: flex;
  width: 96%;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  padding: 80px;
  /* margin-bottom: 70px;
  margin-left: 30px; */
}
/* .last > div:nth-child(3) > input {
  height: 80px;
  width: 700px;
  border: 1px solid rgba(128, 128, 128, 0.628);
  padding-right: 70px;
} */

.last Input ::placeholder {
  color: gray;
}
textarea:focus,
Input:focus {
  outline: none;
  border: black;
}
.last > div:nth-child(1) > h3 {
  padding-top: 15px;
}
.last > div:nth-child(2) > p {
  padding-top: 15px;
}

input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

button {
  /* Just a little styling to make it pretty */
  border: 1px solid gray;
  background: white;
  color: black;
  height: 78px;
}

#name-pro {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.551);
  font-size: 13px;
}
.logo {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .last {
    display: flex;
    width: 96%;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    padding: 80px;
    /* margin-bottom: 70px;
    margin-left: 30px; */
  }
  .arrowContainer Input {
    margin-left: 50px;
  }
  .arrow {
    margin-left: 80px;
  }
  .logo {
    display: grid;
    column-gap: 10px;
  }
}

/* # Social Media */

/* # Contact */
/* 
.contact {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  color: gray;
  margin-top: 50px;
  text-align: center;
} */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  width: 70%;
  color: gray;
  margin-top: 50px;
  margin-left: 20%;
}
#con {
  /* margin-left: 36px; */
  margin-bottom: 40px;
  color: black;
  font-family: Playfair Display, serif;
  font-size: 30px;
}

.ola {
  padding-left: 100px;
  top: 0px;
}
.p {
  color: rgba(0, 0, 0, 0.809);
}

@media only screen and (max-width: 768px) {
  .contact {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}

/* # Contact */

/* # Top Footer */
.topFooterCont {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-left: 100px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.547);
  margin-top: 30px;
}

.topFooterLogo {
  width: 35%;
}
@media only screen and (max-width: 768px) {
  .topFooterCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: space-around; */
    row-gap: 50px;
    width: 100%;
    padding-left: 20%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.547);
    margin-top: 30px;
  }
  .topFooterLogo {
    width: 80%;
  }
}

/* # Top Footer */

/* # BottomFooter */

.bottomFooter {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
  padding-bottom: 15px;
}

.logoRed {
  font-size: 20px;
  color: red;
  font-weight: 500;
}
.footerflex {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.547);
}
@media only screen and (max-width: 768px) {
  .logoRed {
    font-size: 15px;
    color: red;
    font-weight: 500;
  }
  .footerflex {
    display: grid;
    row-gap: 2px;
    grid-template-columns: repeat(1, 1fr);
    /* flex-wrap: wrap; */
    font-size: 10px;
    align-items: center;
    color: rgba(0, 0, 0, 0.547);
  }
  .footerflex Button {
    margin-top: 10px;
  }

  /* // Scroll to top button */
  .ScrollTopButton {
    display: none;
  }
}

/* # BottomFooter */
