@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body,
html {
  overflow-x: hidden;
  /* background-color: aqua !important; */
  font-family: "Roboto Mono", monospace !important;
}
App {
  background-color: aqua;
}

/******** ScrollBar  Modification ******/
::-webkit-scrollbar {
  width: 7px;
  display: none;
}
/* track */
::-webkit-scrollbar-track {
  /* background-color: black; */
  background-color: white;
}
/* handler */
::-webkit-scrollbar-thumb {
  /* background-color: rgba(219, 69, 219, 0.8); */
  background-color: red;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  /* background-color: rgba(29, 17, 138, 0.6); */
  background-color: red;
  border-radius: 12px;
}
/******** ScrollBar  Modification ENDS ******/

.breadcrumb-link {
  text-decoration: none;
  color: #333; /* Adjust the color as needed */

  /* Add transition for smooth hover effect */
}

.breadcrumb-link:hover {
  transition: color 0.3s ease;
  color: #007bff; /* Adjust the hover color as needed */
}
