/*  Shop Page by Sourav */

/* .boxImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */


/*  Shop Card CSS */
.ShopContainer {
  /* border: 2px solid red; */
  padding-top: 150px;
  padding: 15px;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
